body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}


section:nth-of-type(1) {
    background-color: rgb(60, 60, 60);
}

section:nth-of-type(2) {
    background-color: rgb(45, 45, 45);
    align-items: flex-start;
    height: calc(100vh - 100px);
    scroll-margin-top: 100px;
}

section:nth-of-type(3) {
    background-color: rgb(30, 30, 30);
    color: #f58571;
    height: calc(100vh - 100px);
    scroll-margin-top: 100px;
}

h1 {
    font-family: sans-serif;
    font-size: 5em;
}

.h1Peach {
    color: #f58571;
}

.h1White {
    color: honeydew;
}

h2 {
    align-items: center;
    margin-top: 25%;
}

#title {
    margin-top: 10%;
}

.menu {
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 90px;
    bottom: 20%;
}